/*
RefreshTweak, a stylesheet to force Discord's new UI to make a little bit more sense.
Made by Lumière Élevé.
*/
.visual-refresh div[class^='sidebar_']>section[class^='panels_'] {
	width: calc(328px - var(--space-xs) * 4);
	left: calc(49px + var(--space-xs) * 3);
}
.visual-refresh div[class^='sidebar_']>nav[class^='wrapper_'] {
	margin-bottom: 0;
}
.visual-refresh div[class^='sidebarList_']>nav[class^='container_'] {
	padding-bottom: calc(var(--custom-app-panels-height,0) + 12px);
}
.visual-refresh div[class^='codeContainer_']>code {
	word-break: break-all;
}
