/**
 * @name        RefreshTweak
 * @author      Lumière Élevé
 * @version     1.0.0
 * @description A stylesheet to force Discord's new UI to make a little bit more sense.
 * @source      https://github.com/PoneyClairDeLune/custom-utils/blob/main/discord/refreshTweak.CVv7.css
 */
.visual-refresh div[class^='sidebar_']>section[class^='panels_'] {
	width: calc(100% - 48px - var(--space-xs) * 4);
	left: calc(40px + var(--space-xs) * 4);
}
.visual-refresh div[class^='sidebar_']>nav[class^='wrapper_'] {
	margin-bottom: 0;
}
.visual-refresh div[class^='sidebarList_']>nav[class^='container_'] {
	padding-bottom: calc(var(--custom-app-panels-height,0) + 12px);
}
.visual-refresh div[class^='codeContainer_']>code {
	word-break: break-all;
}
.visual-refresh main[class^='chatContent_']>form>div[class^='channelBottomBarArea_'] {
	/* transform: translateY(calc(24px - var(--space-xs))); */
	position: relative;
	top: calc(24px - var(--space-xs));
}
.visual-refresh main[class^='chatContent_']>form>div[class^='typing_'] {
	position: absolute;
	top: -8px;
}
