/*
RefreshTweak, a stylesheet to force Discord's new UI to make a little bit more sense.
Patched to integrate with ClearVision v7. Made by Lumière Élevé.
*/
.visual-refresh div[class^='sidebar_']>section[class^='panels_'] {
	width: calc(100% - 48px - var(--space-xs) * 3);
	left: calc(40px + var(--space-xs) * 4);
}
.visual-refresh div[class^='sidebar_']>nav[class^='wrapper_'] {
	margin-bottom: 0;
}
.visual-refresh div[class^='codeContainer_']>code {
	word-break: break-all;
}
.visual-refresh main[class^='chatContent_']>form>div[class^='channelBottomBarArea_'] {
	position: relative;
	top: calc(24px - var(--space-xs));
}
.visual-refresh main[class^='chatContent_']>form>div[class^='typing_'] {
	transform: translateY(calc(-48px - var(--space-xs)));
}
